<app-navbar></app-navbar>

<div class="form-container" *ngIf="recipe">
  
  <form [formGroup]="updateForm" (ngSubmit)="updateRecipe()" class="recipe-form">
    <h2>Update Recipe</h2>
    <div class="form-section">
        <label>Title: <input required formControlName="title" class="input-field" /></label>
        <label>
          Category:
        </label>

        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of categories" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
  
        <input type="text"
        placeholder="Category"
        aria-label="Number"
        matInput
        class="input-field"
        formControlName="category"
        [matAutocomplete]="auto"
        (keyup)="onSearchInputChanged($event)"
        (keyup.enter)="filterCategories(updateForm.get('category')?.value)"
        required>

        <label>Description: <input required formControlName="description" class="input-field" type="text"/></label>
        <label>Preparation Time: <input required formControlName="prepTime" type="number" class="input-field" min="0"/></label>
        <label>Cooking Time: <input required formControlName="cookTime" type="number" class="input-field" min="0"/></label>
        <label>Servings: <input required formControlName="servings" type="number" class="input-field" min="0"/></label>
      </div>
  
      <!-- Ingredients Section -->
      <div class="form-section form-array-container ingredient-container">
        <div class="test">
          <label class="ingredient-label-header">Ingredients</label>
        </div>

        <div class="ingredient-labels">
          <label for="" class="ingredient-label">Name</label>
          <label for="" class="ingredient-label">Amount</label>
          <label for="" class="ingredient-label">Unit</label>
        </div>


            <div cdkDropList class="my-list" (cdkDropListDropped)="dropIngredient($event)">

              <div *ngFor="let ingredientGroup of ingredients.controls; let i = index" class="ingredient-row" formArrayName="ingredients" cdkDrag>
                
                <i class="fas fa-grip-vertical grip"></i>

                <div class="ingredient-group" [formGroupName]="i" >
                  
                  <input formControlName="name" placeholder="Ingredient Name" class="ingredient-input" required>
                  <input formControlName="value" placeholder="Amount Value" class="ingredient-input" required type="number">
                  
                  <input formControlName="unit" placeholder="Amount Unit" class="ingredient-input" required>
                </div>

                
                <div class="buttons">
                  <button type="button" class="fas fa-plus" (click)="addIngredients(i)"></button>
                  <button type="button" class="fas fa-minus" (click)="removeIngredients(i)"></button>
                </div>
                
              </div>
            </div>



      </div>
  

      <div class="form-section form-array-container" >

        <div class="instruction-labels">
          <label class="instruction-label">Instructions</label>
        </div>

        <div *ngIf="recipe?.instructions">

          <div formArrayName="instructions">

            <div cdkDropList class="my-list" (cdkDropListDropped)="dropInstruction($event)">

            <div *ngFor="let instructionControl of instructions.controls; let i = index" class="instruction-row" cdkDrag>
              
              <i class="fas fa-grip-vertical grip"></i>

              <div [formGroupName]="i" class="instruction-group">

                <input formControlName="text" placeholder="Instruction {{ i + 1 }}" class="instruction-input" required>

              </div>

              <div class="buttons">
                <button type="button" class="fas fa-plus" (click)="addInstructions(i)"></button>
                <button type="button" class="fas fa-minus" (click)="removeInstructions(i)"></button>
              </div>

            </div>

          </div>


          </div>

        </div>

        
      </div>
  
      <div class="buttons-exit">
        <button type="reset" (click)="goBack()">Cancel</button>
        <button type="submit">Update</button>
      </div>
  
    </form>
  </div>
  