<div class="recipe-card-container" cdkDropList [cdkDropListData]="recipes" *ngIf="recipes">
  <div class="recipe-card-wrapper">
    <div class="recipe-card" *ngFor="let recipe of recipes" cdkDrag [cdkDragData]="recipe" >
      <h3>{{ recipe.title }}</h3>
      <div class="rating">
        <ng-container *ngFor="let star of starService.getRatingStars(recipe.rating)">
          <i class="fas fa-star" *ngIf="star === true"></i>
          <i class="fas fa-star-half-alt" *ngIf="star === 'half'"></i>
        </ng-container>
      </div>
      
    </div>
  </div>
</div>

