<!-- 
  this component is used to display all the recipes as a card
  it also adds drag and drop functionality to the cards
  it is rendered in the bookmark component

  we also use a getRatingStars method from the starService to display the rating of the recipe as stars
 -->

<div class="recipe-card-container" cdkDropList [cdkDropListData]="recipes" *ngIf="recipes">
  <div class="recipe-card-wrapper">
    <div class="recipe-card" *ngFor="let recipe of recipes; let j = index" cdkDrag [cdkDragData]="recipe" >
      <h3>{{ recipe.title }}</h3>
      <div class="rating">


          <ng-container *ngFor="let star of stars[j]; let i = index">
            <i class="fas fa-star" *ngIf="star === true" ></i>
            <i class="fas fa-star-half-alt" *ngIf="star === 'half'" ></i>
            <i class="fa-regular fa-star" *ngIf="star === 'empty'"></i>
          </ng-container>
          
        </div>
        

    </div>
  </div>
</div>

