<!-- searchbar -->
<app-navbar></app-navbar>
<div class="search-container">
  <input
    type="text"
    [(ngModel)]="searchTerm"
    (keyup)="onSearchInputChanged($event)"
    (keyup.enter)="filterRecipes(searchTerm)"
    placeholder="Search..."
    class="search-bar"
  />
<!-- renders recipes based on searchbar -->
  <div class="recipes">
    <div *ngFor="let recipe of scoreRecipe; let j = index" class="recipe-card" (click)="goToRecipeDetail(recipe)">
     <h2>{{ recipe.title }}</h2>
     <div class="rating">


      <ng-container *ngFor="let star of scoreRecipe[j].score; let i = index">

          <i class="fas fa-star" *ngIf="star === true" ></i>
          <i class="fas fa-star-half-alt" *ngIf="star === 'half'" ></i>
          <i class="fa-regular fa-star" *ngIf="star === 'empty'"></i>

      </ng-container>
      
    </div>
    </div>
  </div>
</div>
