<form [formGroup]="form" (ngSubmit)="onSubmit()" class="recipe-form">
    <h2>Create Recipe</h2>
    <div class="form-section">
      <label>Title: <input required formControlName="title" class="input-field" /></label>
      <label>Category:
        <select formControlName="category" class="input-field">
          <option value="" disabled selected>Choose a category</option>
          <option *ngFor="let cat of categories" [value]="cat" required>{{ cat }}</option>
        </select>
      </label>
      <label>Description: <input required formControlName="description" class="input-field" /></label>
      <label>Preparation Time: <input required formControlName="prepTime" type="number" class="input-field" min="0" (input)="aboveZero($event.target!, 'prepTime')"/></label>
      <label>Cooking Time: <input required formControlName="cookTime" type="number" class="input-field" min="0" (input)="aboveZero($event.target!, 'cookTime')"/></label>
      <label>Servings: <input required formControlName="servings" type="number" class="input-field" min="0" (input)="aboveZero($event.target!, 'servings')"/></label>
      <label>Rating: <input required formControlName="rating" type="number" class="input-field" min="0" max="5" (input)="validateRating()"/></label>
    </div>
    
    <div formArrayName="ingredients" class="form-array-container">
      <h4>Ingredients</h4>
        <div class="ingredient-labels">
          <label class="ingredient-label">Name:</label>
          <label class="ingredient-label">Amount:</label>
          <label class="ingredient-label">Unit:</label>
        </div>
        <div *ngFor="let ingredient of ingredients.controls; let i = index" class="ingredient-row">
          <div [formGroupName]="i" class="ingredient-group">
            <input required formControlName="name" class="ingredient-input" />
            <input required formControlName="amounts" type="number" class="ingredient-input" min="0" (input)="aboveZeroIngredient()"/>
            <input required formControlName="unit" class="ingredient-input" />
          </div>
        </div>
        <div class="buttons">
          <button type="button" (click)="addIngredients()" class="fas fa-plus"></button>
          <button type="button" (click)="removeIngredients()" class="fas fa-minus"></button>
        </div>
      </div>
      
    
    <div formArrayName="instructions" class="form-array-container">
  <div class="instruction-labels">
    <label class="instruction-label">Instructions:</label>
  </div>
  <div *ngFor="let instruction of instructions.controls; let i = index" class="instruction-row">
    <div [formGroupName]="i" class="instruction-group">
      <input required formControlName="text" class="instruction-input"/>
    </div>
  </div>
  <div class="buttons">
    <button type="button" (click)="addInstruction()" class="fas fa-plus"></button>
    <button type="button" (click)="removeLastInstruction()" class="fas fa-minus"></button>
  </div>
</div>

<!-- Display loading spinner while loading -->
<div *ngIf="loading" class="loading-spinner">
  <app-loading-spinner></app-loading-spinner>
</div>


    <div class="buttons-exit">
        <button type="reset" class="cancel-button" [disabled]="loading" (click)="onReset()">Cancel</button>
        <button type="submit" class="confirm-button" [disabled]="loading">Confirm</button>
      </div>
  </form>
  