<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
    <h2>Login</h2>
    <div class="form-section">
        <label>Username <input type="text" formControlName="username" placeholder="Username" required="required" class="input-field"></label>
        <label>Password <input type="password" formControlName="password" placeholder="Password" required="required" class="input-field"></label>
        <div *ngIf="loginForm.get('username')?.hasError('incorrectLogin') || loginForm.get('password')?.hasError('incorrectLogin')" class="error-message">
            Incorrect username and password
        </div>
    </div>

    <div >
        <mat-spinner *ngIf="isLoading"></mat-spinner>
        <div class="buttons-exit" *ngIf="!isLoading">
            <button type="submit" class="confirm-button">Login</button>
            <button class="register-button" routerLink="/register">Register</button>
        </div>
        
    </div>
    <!-- <mat-spinner></mat-spinner> -->
</form>