/* Form container */
.recipe-form {
  background-color: var(--color-secondary);
  padding: 20px;
  border-radius: 10px;
  width: 90%; /* Adjusted width for smaller screens */
  margin: 0 auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Form section */
.form-section {
  margin-bottom: 20px;
}

/* Form fields */
.input-field {
  width: 100%;
  padding: 10px; /* Adjusted padding for smaller screens */
  margin-bottom: 10px;
  border: 1px solid var(--color-text);
  border-radius: 5px;
}

/* Container for dynamically added rows */
.form-array-container {
  margin-top: 20px;
  padding-top: 20px;
}

/* Ingredient and Instruction Rows */
.ingredient-row,
.instruction-row {
  display: flex;
  flex-direction: column; /* Stacking rows on smaller screens */
  margin-bottom: 10px;
}

/* Ingredient and Instruction Groups */
.ingredient-group,
.instruction-group {
  display: flex;
  flex-direction: column;
  width: 100%; /* Full width on smaller screens */
}

/* Ingredient and Instruction Labels */
.ingredient-label,
.instruction-label {
  margin-bottom: 5px;
  font-weight: bold;
}

/* Ingredient and Instruction Inputs */
.ingredient-input,
.instruction-input {
  width: 100%;
  padding: 10px; /* Adjusted padding for smaller screens */
  border: 1px solid var(--color-text);
  border-radius: 5px;
}

/* Button styles */
.buttons,
.buttons-exit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.buttons-exit {
  margin-top: 5%;
}

button {
  background-color: var(--color-primary);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="button"] {
  margin-right: 10px;
}

button:hover {
  background-color: var(--color-text);
}

/* Plus and Minus Button Icons */
.fas {
  font-family: 'Font Awesome 5 Free';
}

/* Responsive adjustments for iPhone SE */
@media (max-width: 375px) {
  .recipe-form {
    width: 95%; /* Adjust width for iPhone SE */
  }
  
  /* Adjust padding and font size for smaller screens */
  .input-field,
  .ingredient-input,
  .instruction-input {
    padding: 8px;
    font-size: 14px;
  }
  
  /* Adjust button padding for smaller screens */
  button {
    padding: 8px 15px;
  }
}
