<div class="week-schedule">
  <div class="cell empty-cell"></div> <!-- Top-left corner cell -->

  <!-- Weekdays -->
  <div class="cell weekday" *ngFor="let day of days">{{ day }}</div>

  <!-- Time slots and events -->
  <ng-container *ngFor="let timeSlot of timeSlots; let colIndex = index">
    <!-- Time slot -->
    <div class="cell time-slot">{{ timeSlot }}</div>

    <div
      cdkDropList
      [cdkDropListData]="cellContents[colIndex]"
      (cdkDropListDropped)="Drop($event, rowIndex, colIndex)"
      class="cell event drop-area"
      *ngFor="let day of days; let rowIndex = index"
    >
    <!-- && !cellContents[colIndex][rowIndex]?.deleted -->
      <ng-container *ngIf="cellContents[colIndex] && cellContents[colIndex][rowIndex]; else emptyCell;">
        <div 
        class="recipe-card" 
        cdkDrag 
        [ngClass]="{ 'recipe-card-drag-preview': isDragging }"
        (cdkDragStarted)="isDragging = true"
        (cdkDragEnded)="isDragging = false"
        >
          <div (click)="goToRecipeDetail(cellContents[colIndex][rowIndex].id)" class="recipe-card-title">

            <h3>{{ cellContents[colIndex][rowIndex]!.title }}</h3>
          </div>

          <div class="rating">
            <ng-container *ngFor="let star of starService.getRatingStars(ratingCellContents[colIndex][rowIndex]!)">
              <i class="fas fa-star" *ngIf="star === true"></i>
              <i class="fas fa-star-half-alt" *ngIf="star === 'half'"></i>
              <i class="fa-regular fa-star" *ngIf="star === 'empty'" ></i>
            </ng-container>
          </div>
          
          <button class="delete-button" (click)="deleteRecipe(rowIndex, colIndex)">Remove</button>
        </div>
      </ng-container>
      <ng-template #emptyCell>
        <!-- Empty cell content -->
      </ng-template>
    </div>
  </ng-container>
  

</div>
